/* Estilos para escritorio y pantallas más grandes */
.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 5rem;
  padding-bottom: 10rem;
}

.avatar-img {
  width: 400px;
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /* background: linear-gradient(#212121, #212121) padding-box,
              linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box; */
  border: 2px solid transparent;
}

.title,
.titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.res {
  width: 110px;
  height: 110px;
  margin: 0 0rem;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .parent {
      padding: 1rem;
      padding-bottom: 5rem;
  }

  .avatar-img {
      width: 200px; /* Cambiamos el tamaño del avatar para pantallas más pequeñas */
  }

  .res {
      width: 80px; /* Cambiamos el tamaño de .res para pantallas más pequeñas */
      height: 80px;
  }
}

@media (max-width: 415px) {
        .parent {
            padding: 1rem;
            padding-bottom: 5rem;
            display: flex;
            justify-content: center;
      align-items: center;
        }

        .avatar-img {
            width: 200px; /* Cambiamos el tamaño del avatar para pantallas más pequeñas */
        }

        .res {
            width: 40px; /* Cambiamos el tamaño de .res para pantallas más pequeñas */
            height: 40px;
        }

}