.mi-componente {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  .contenido {
    flex: 1;
  }
 
  .imagen {
    border-radius: 100%;
    overflow: hidden;
    width: 25rem; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: 25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: linear-gradient(#212121, #212121) padding-box,
                linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
  }
  .intro{
    font-size: 24px;
    padding-left: 50px;
  }
.li{
  padding-left: 100px;
  font-size: 24px;
  text-shadow: #212121;
}
  
  
  @media (max-width: 800px) {
    .imagen {
      border-radius: 100%;
      overflow: hidden;
      width: 15rem; /* Ajusta el tamaño de la imagen según tus necesidades */
      height: 15rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      background: linear-gradient(#212121, #212121) padding-box,
                  linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
      border: 2px solid transparent;
    }
    .intro{
      font-size: 14px;
      padding-left: 50px;
    }
  .li{
    padding-left: 100px;
    font-size: 14px;
    text-shadow: #212121;
  }
    
  }