.cards-skill{
  display: flex;
  justify-content: center; /* Centra horizontalmente las tarjetas */
  align-items: center; /* Centra verticalmente las tarjetas */
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan a la siguiente fila */
  gap: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}