.card-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between; /* Para distribuir las tarjetas uniformemente en cada fila */
    margin: -5px; /* Espaciado entre las tarjetas */
}

.card-link {
    text-decoration: none;
    color: black;
    text-shadow: 1pm currentColor;
}

@media (max-width: 800px) {
    .card-container {
        display: flex;
        flex-wrap: wrap;
        width: 40%;
        justify-content: space-between; /* Para distribuir las tarjetas uniformemente en cada fila */
        margin: -5px; /* Espaciado entre las tarjetas */
    }
    
    .card-link {
        text-decoration: none;
        color: black;
        text-shadow: 1pm currentColor;
    }
}