.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around; /* Para distribuir las tarjetas uniformemente en cada fila */
    margin: -1px; /* Espaciado entre las tarjetas */
}

.card-link {
    text-decoration: none;
    color: black;
    text-shadow: 1pm currentColor;
}

