/*  */
body {
  margin: 0;
  font-family: "Figtree", sans-serif;
  font-size: 1.4rem;
  line-height: 1.6rem;
 
} 
.article-tec{
  height: 60px;
}
.title-card{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}
.article-info{
  height: 110px;
  
}
.articles {
  display: grid;
  grid-column: auto;
  margin-inline: auto;
  padding-inline: 4px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 4px;
  
}

article {
  height: 550px;
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;

    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    background:  padding-box, 
    linear-gradient(145deg, transparent 5%,#4333ab, #40c9ff) border-box;
    border: 2px solid transparent;
    
  }
  
  article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
    
  }
  
  /* basic article elements styling */
  article h2 {
    margin: 0 0 18px 0;
    font-family: "Bebas Neue", cursive;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
  }
  
  figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }
  
  article img {
    padding-top: 5%;
    max-width: 400px;
    max-height: 400px;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
  }
  
  .article-body {
    padding: 24px;
    
  }
  
  article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #0a0d0d;
  }
  
  article a:focus {
    outline: 1px dotted #28666e;
  }
  
  article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
  }
  
  /* using the has() relational pseudo selector to update our custom properties */
  article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #fafeff;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  
  
  /************************ 
  Generic layout (demo looks)
  **************************/
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  

  
  
/* Rating de estrellas de las card */

  .rating {
    display:inline-flex;
  }
  
  .rating input {
    display: none;
  }
  
  .rating label {
    float: right;
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
  }
  
  .rating label:before {
    content: '\2605';
    font-size: 30px;
  }
  
  .rating input:checked ~ label,
  .rating label:hover,
  .rating label:hover ~ label {
    color: #6f00ff;
    transition: color 0.3s;
  }
  

  @media (max-width: 768px) {
    .articles{
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* 2 columnas */
      gap: 0px; /* Espacio entre las tarjetas */
    }
    article {
      height: 550px;
      width: 250px;
    }
    .article-info{
      height: 80px;
      
    }
      article img {
      max-width: 350px;
      max-height: 260px;
      transform-origin: center;
    }
  }
  @media (max-width: 415px) {
    .articles{
      display: grid;
      grid-template-columns: repeat(1, 1fr); /* 2 columnas */
  
    }
    article {
      height: 550px;
      width: 325px;
    }
    .article-info{
      height: 120px;
      
    }
      article img {
      max-width: 350px;
      max-height: 325px;
   
    }
      .article-tec{
      padding-top: 15px
    }
    .article-body {
      padding: 14px;
      
    }
  }