/* Estilos para la barra de navegación fija */
 .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;
  z-index: 100;
  opacity: 100%;
  color: #000;
  background-color: #050505  ; 
 
}

.nav {
  display: flex;
  justify-content: space-between; /* Espaciado entre los dos menús */
  align-items: center; /* Alineación vertical en el centro */
  padding: 10px 20px; /* Espaciado interno */
  display: flex;
  font-size: large;
  z-index: 100;
}

.nav__link {
  display: flex;
  justify-content:space-around;
  
  
} 

/* Estilos para los elementos de la lista (botones) en pantallas grandes */
.nav__large ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav__large li {
  margin: 0;
  padding: 0;
  
}

.nav__large li a {
  text-decoration: none;
  color: #fff; /* Color de texto por defecto */
  border-radius: 40%;
  padding: 10px 20px; /* Espaciado interno horizontal y vertical */
  transition: background-color 0.3s ease; /* Transición de color de fondo */
}

/* Cambio de color de fondo al hacer hover en pantallas grandes */
.nav__large li a:hover {
  background-color: #fff; /* Color de fondo al hacer hover */
  color: #000; /* Color de texto al hacer hover */
}

/* Estilo para el elemento activo en pantallas grandes (puede ser diferente) */
.nav__large li a.active {
  background-color: #000; /* Color de fondo cuando está activo */
  color: #fff; /* Color de texto cuando está activo */

}
.nav__link-mobile{
  display: none;
}
.nav__mobile{
  display: none;
}



/* Estilos para dispositivos móviles (ancho de pantalla menor a 768px) */
@media (max-width: 768px) {
  .nav__link{
    display: none;
  }
  .nav__large{
    display: none;
  }
  
  .nav__mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: transparent; /* Fondo del menú en dispositivos móviles */
    color: white;
  }

  .menu-icon {
    font-size: 24px;
    cursor: pointer;
  }

  .nav__link-mobile {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none; /* Inicialmente, ocultar el menú desplegable */
  }

  .nav-open .nav__link-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 70px; /* Ajusta la posición según tus necesidades */
    left: 0;
    background-color: rgb(130, 130, 192);
    width: 100%;
  }

  .nav__link-mobile li {
    margin: 10px;
    text-align: center;
  }

  /* Estilos adicionales para el botón de cierre del menú en dispositivos móviles */
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: white;
  }
}
.buttonA {
  position: relative;
  display: inline-block;
  width: 400px;
  padding: 15px 30px;
  border: 2px solid #fefefe;
  text-transform: uppercase;
  color: #090909;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  transition: 0.3s;
 }
 .buttonA::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - -2px);
  background-color: transparent#212121;
  transition: 0.3s ease-out;
  transform: scaleY(1);
}

.buttonA::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 50px);
  background-color: #212121;
  transition: 0.3s ease-out;
  transform: scaleY(1);
}

.buttonA:hover::before {
  transform: translateY(-25px);
  height: 0;
}

.buttonA:hover::after {
  transform: scaleX(1);
  transition-delay: 0.15s;
}

.buttonA:hover {
  border: 2px solid #fefefe;
}

.buttonA span {
  position: relative;
  z-index: 3;
}

.buttonA {
  text-decoration: none;
  border: none;
  background-color: transparent;
}

@media (max-width: 415){
  .menu-icon{
    display: none;
  }

}

@media (max-width < 1024){
  .menu-icon{
    display: none;
  }
  .nav{
    font-size:large;
  }

}