/* Estilos para la barra de navegación fija */
 /* .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;
  z-index: 100;
  opacity: 100%;
  color: #000;
  background-color: #050505  ; 
 
} */



/* Estilos para los elementos de la lista (botones) en pantallas grandes */
.nav__large ul {
  list-style: none;
  margin: 0;
  padding: 0;

}

.nav__large li {
  margin: 0;
  padding: 0;
  
}

.nav__large li a {
  text-decoration: none;
  color: #494748; /* Color de texto por defecto */
  border-radius: 40%;
  padding: 10px 20px; /* Espaciado interno horizontal y vertical */
  transition: background-color 0.3s ease; /* Transición de color de fondo */
}

/* Cambio de color de fondo al hacer hover en pantallas grandes */
/* .nav__large li a:hover {
  background-color: #fff;
  color: #000; 
} */

/* Estilo para el elemento activo en pantallas grandes (puede ser diferente) */
/* .nav__large li a.active {
  background-color: #000; 
  color: #fff; 
} */

.nav__link-mobile{
  display: none;
}
.nav__mobile{
  display: none;
}

