.container {
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cover {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 800px) { 
    .container {
        width: 80%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cover {
        width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}