.carousel{
padding-left: 25%;
padding-right: 10%;
width: 100%;
}
.container{
    display: flex;
    flex-direction:row;
    align-content: center;
    padding-bottom: 25px;
    
}
.IMG {
    max-width: 70px;
    max-height:  70px;
}
@media (max-width: 700px) {
    .carousel{
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100%;
        gap: 25px;
        }
    .H3{
        font-size: 0.9rem;
    }
    .IMG {
        max-width: 50px;
        max-height:  50px;
    }
  }