
.container{
    display: flex;
    flex-direction:column;
    align-content: center;
    padding-left: 130px;
    padding-bottom: 25px;
    /* background-color: rgb(211 211 211) */
}
.carousel{
  padding-left: 45px;
  padding-right: 45px;
    width: 90%;
    }
.IMG {
    max-width: 70px;
    max-height:  70px;
    
}
.H3{
    font-size: 0.9rem;
}
@media (max-width: 768px) {
    .container{
        padding-left: 0rem;
        display: flex;
        flex-direction:column;
        align-content: center;
        padding-left: 70px;
        padding-bottom: 25px;
        
    }
    .carousel{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        width: 90%;
        gap: 25px;
        }
    .H3{
        font-size: 0.7rem;
    }
    .IMG {
        max-width: 50px;
        max-height:  50px;
    }
  }
@media (max-width: 415px) {
  .H3 {
    display: none;
  }
}
