
.container{
    padding-left: 15rem;
    display: flex;
    flex-direction:column;
    align-content: center;
    padding-bottom: 25px;
    
}
.carousel{

    width: 90%;
    }
.IMG {
    max-width: 70px;
    max-height:  70px;
}
@media (max-width: 800px) {
    .container{
        padding-left: 5rem;
        display: flex;
        flex-direction:column;
        align-content: center;
        padding-bottom: 25px;
        
    }
    .carousel{
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100%;
        gap: 25px;
        }
    .H3{
        font-size: 0.9rem;
    }
    .IMG {
        max-width: 50px;
        max-height:  50px;
    }
  }