



  .card {
    width: 17em;
    height: 22.5em;
    background: #383737;
    transition: 1s ease-in-out;
    clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    background:   padding-box,
    linear-gradient(145deg, transparent 5%,#6a58dd, #40c9ff) border-box;
    border: 2px solid transparent;
  }
  
  .card span {
    font-weight: bold;
    color: white;
    text-align: center;
    display: block;
    font-size: 1em;
  }
  
  .card .info {
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    font-size: 0.72em;
    margin: 1em;
  }
  
  .card .img {
    width: 4.8em;
    height: 4.8em;
    background: white;
    border-radius: 15px;
    margin: auto;
  }
  
  .card .share {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
  }
  
  .card a {
    color: white;
    transition: .4s ease-in-out;
  }
  
  .card a:hover {
    color: red;
  }
  
  .card button {
    padding: 0.8em 1.7em;
    display: block;
    margin: auto;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    background: #ffffff;
    color: rgb(0, 0, 0);
    transition: .4s ease-in-out;
  }
  
  .card button:hover {
    background: red;
    color: white;
    cursor: pointer;
  }

 
  /* Estilos para tablet */
@media (max-width: 768px) {
  .card {
    height: 500px; /* Altura automática para acomodar el contenido */
    width: 300px; /* Cambia el ancho al 90% del contenedor padre */
  }
  
  .card span {
    font-size: 1.2em; /* Aumenta el tamaño de fuente */
  }
  
  .card .info {
    font-size: 1em; /* Aumenta el tamaño de fuente */
  }
  
  .card .img {
    width: 100px; /* Ajusta el tamaño de la imagen */
    height: 80px;
  }
}

/* Estilos para dispositivos móviles */
@media (max-width: 480px) {
  .card {
    width: 100%; /* Ocupa el ancho completo del contenedor padre */
  }
  
  .card span {
    font-size: 1.2em; /* Aumenta aún más el tamaño de fuente */
  }
  
  .card .info {
    font-size: 0.8em; /* Aumenta aún más el tamaño de fuente */
  }
  
  .card .img {
    width: 6em; /* Ajusta aún más el tamaño de la imagen */
    height: 6em;
  }
}
