/* Estilos base para pantallas más grandes */
.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    gap: 55px;
  }
  
  /* Estilos para tablet (max-width: 768px) */
  @media (max-width:  1020px) {
    .contact {
      flex-direction: column; /* Cambia la dirección a columna para dispositivos más pequeños */
      align-items: center; /* Centra los elementos verticalmente */
      gap: 10px; /* Reduce el espacio entre los elementos */
    }
  }
  @media (max-width: 768px) {
    .contact {
      flex-direction: row; /* Cambia la dirección a columna para dispositivos más pequeños */
      align-items: center; /* Centra los elementos verticalmente */
      gap: 10px; /* Reduce el espacio entre los elementos */
    }
  }
  
  /* Estilos para dispositivos móviles (max-width: 480px) */
  @media (max-width: 480px) {
    .contact {
      flex-direction: column; /* Cambia la dirección a columna para dispositivos más pequeños */
      align-items: center; /* Centra los elementos verticalmente */
      padding: 10px; /* Reduce el relleno en dispositivos móviles */
      gap: 10px; /* Reduce aún más el espacio entre los elementos */
      
    }
  }