header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: auto;
  background-color: rgb(152, 152, 153);
}


.logo {
  padding-left: 25px;
  width: 190px;
  height: 70px;
}
h1{
  text-decoration: solid;
  color: rgb(13, 14, 14);
}

.light {
  background-color: rgb(211, 211, 211);
  color: black;
}

/* Estilos para el Modo Oscuro */
.dark {
  background-color: black;
  color: rgb(211, 211, 211);

}



@media (max-width: 700px) {
  h2 {
    font-size: 1rem;
  }
  .logo {
    width: 150px;
    height: 50px;
  }
  .contenido {
    font-size: 1rem;
  }
}