@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color-light: #dadfe6; /* Gris claro */
  --background-color-dark: #121212; /* Fondo oscuro */
  --text-color-light: #333333;
  --text-color-dark: #ffffff;
 
}

/* Aplicar los estilos a elementos */
body {
  background-color: var(--background-color);
  color: var(--text-color);
 
}

h1{
  --text-color-light: #333333;
  --text-color-dark: #ffffff;
}

/* Estilos para el modo claro */
.light {
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
}

/* Estilos para el modo oscuro */
.dark {
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
}


