:root {
  --background-color-light: #b6b2b2; /* Gris claro */
  --background-color-dark: #121212; /* Fondo oscuro */
  --text-color-light: #333333;
  --text-color-dark: #ffffff;
  /* Otros estilos */
}

/* Aplicar los estilos a elementos */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: auto;
  background-color: rgb(152, 152, 153);
}


.logo {
  padding-left: 25px;
  width: 190px;
  height: 70px;
}
h1{
  text-decoration: solid;
  color: var(--text-color);
}


/* Estilos para el modo claro */
.light {
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
}

/* Estilos para el modo oscuro */
.dark {
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
}



/* Otros estilos específicos del modo claro y oscuro */


@media (max-width: 700px) {
  h2 {
    font-size: 1rem;
  }
  .logo {
    width: 150px;
    height: 50px;
  }
  .contenido {
    font-size: 1rem;
  }
}

